.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-wrapper {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 20px auto 0;
  padding: 20px;
  background-color: #d4d4d4; 
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 11px 6px 0px 2px rgba(0, 0, 0, 0.5);
}

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/sfondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; 
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #creditoResiduo {
    font-weight: bold;
  }
  
  #numeroChiamate {
    font-weight: bold;
    color: #0056b3;
  }

  .utente-buttons {
    margin-top: 10px;
  }
  
  .utente-buttons button {
    background-color: #0056b3; 
    color: white; 
    border: none;
    padding: 10px 17px;
    cursor: pointer;
  }
  
  .utente-buttons button.active {
    background-color: #77dd77; 
    color: black;
  }